@model List<ProductListByCustomerTypeIdDto>

@foreach (var product in Model)
{
	<!-- ****** Quick View Modal Area Start ****** -->
	<div class="modal fade" id="@product.ID" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<button type="button" class="close btn" style="box-shadow: none;position: absolute;right: 15px;text-align: right;top: 10px;z-index: 9;" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

				<div class="modal-body">
					<div class="quickview_body">
						<div class="container">
							<div class="row">
								<div class="col-12 col-lg-5">
									<div class="quickview_pro_img">
										<img src="~/images/@product.ImageFileName" alt="@product.ProductName">
									</div>
								</div>
								<div class="col-12 col-lg-7">
									<div class="quickview_pro_des">
										<h4 class="title">@product.ProductName</h4>
										<div class="top_seller_product_rating mb-15">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</div>
										<h5 class="price">@product.SalePrice₺<span>@product.UnitPrice₺</span></h5>
										<p>@product.Description</p>
										<a asp-controller="Product" asp-action="GetByIdProductDetail" asp-route-id="@product.ID">Ürünün Tüm Detaylarını Görüntüle</a>
									</div>
									<!-- Add to Cart Form -->
									<form class="cart" method="post">
										<div class="quantity">
											<span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>

											<input type="number" class="qty-text" id="qty" step="1" min="1" max="12" name="quantity" value="1">

											<span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
										</div>
										<button type="submit" name="addtocart" value="5" class="cart-submit">Sepete Ekle</button>
									</form>

									<div class="share_wf mt-30">
										<p>Arkadaşınla Paylaş</p>
										<div class="_icon">
											<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
											<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
											<a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
											<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ****** Quick View Modal Area End ****** -->
	<!-- Single gallery Item -->
	<div class="col-12 col-sm-6 col-lg-4 single_gallery_item wow fadeInUpBig" data-wow-delay="0.2s">
		<!-- Product Image -->
		<div class="product-img">
			<img src="~/images/@product.ImageFileName" alt="@product.ProductName">
			<div class="product-quicview">
				<a href="#" data-toggle="modal" data-target="#@product.ID"><i class="ti-plus"></i></a>
			</div>
		</div>
		<!-- Product Description -->
		<div class="product-description">
			<h4 class="product-price">@product.SalePrice ₺</h4>
			<p><a asp-controller="Product" asp-action="GetByIdProductDetail" asp-route-id="@product.ID">@product.ProductName</a></p>
			<!-- Add to Cart -->
			<a href="#" id="@product.ID" itemid="@product.ImageFileName" name="add-to-cart-btn-partial" class="add-to-cart-btn">Sepete Ekle</a>
		</div>
	</div>
}


