
@model WeeklySoldProductsDto

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row">
                @await Component.InvokeAsync("DashboardMonthlyIncome")
                @await Component.InvokeAsync("DashboardAnnualOrdersCount")
                @await Component.InvokeAsync("TotalProductsCount")
                @await Component.InvokeAsync("DashboardLikedProductsCount")
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-content">
                            <div>
                                <span class="float-right text-right">
                                    <small>Tobloda yer alan ürün satışlarından elde edilen toplam kazanç </small>
                                    <br />
                                    Toplam Kazanç: 162,862₺
                                </span>
                                <h3 class="font-bold no-margins">
                                    Haftalık Ürün Satış Adetleri
                                </h3>
                                <small>Haftalık durum tablosu.</small>
                            </div>

                            <div>
                                <canvas id="lineChart" height="70"></canvas>
                            </div>

                            <div class="m-t-md">
                                <small class="float-right">
                                    <i class="fa fa-clock-o"> </i>
                                    @DateTime.Now.ToShortDateString()
                                </small>
                                <small>
                                    <strong>Satışların Analizi:</strong> Son yedi gün boyunca siparişlerin içerisinde yer alan ürün adetleri tabloda servis edilmiştir.
                                </small>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {

            var lineData = {
                labels: ['@Html.Raw(Model.DateNames[6])', '@Html.Raw(Model.DateNames[5])', '@Html.Raw(Model.DateNames[4])', '@Html.Raw(Model.DateNames[3])', '@Html.Raw(Model.DateNames[2])', '@Html.Raw(Model.DateNames[1])', '@Html.Raw(Model.DateNames[0])'],
                datasets: [
                    {
                        label: "Ürün Adeti",
                        backgroundColor: "rgba(26,179,148,0.5)",
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        data: [@Html.Raw(Model.ProductCount[6]), @Html.Raw(Model.ProductCount[5]), @Html.Raw(Model.ProductCount[4]), @Html.Raw(Model.ProductCount[3]), @Html.Raw(Model.ProductCount[2]), @Html.Raw(Model.ProductCount[1]), @Html.Raw(Model.ProductCount[0])]
                    }
                ]
            };

            var lineOptions = {
                responsive: true
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });

        });
    </script>
}
